<div *ngIf="auth">
  <div class="container">
    <aside class="sidebar">
      <div class="toggle">
        <div class="logo">
          <h2>Freedom Within</h2>
        </div>
        <div class="close" id="close-btn">
          <span class="material-icons-sharp"></span>
        </div>
      </div>

      <div class="sidebar-links">
        <a routerLink="/home">
          <span class="material-icons-sharp">Home</span>
        </a>
        <a *ngIf="admin" routerLink="/admin/register">
          <span class="material-icons-sharp">User Registration</span>
        </a>
        <a *ngIf="admin" routerLink="/admin/service">
          <span class="material-icons-sharp">Add Service</span>
        </a>
        <a *ngIf="admin" routerLink="/admin/event">
          <span class="material-icons-sharp">Add Event</span>
        </a>
        <a *ngIf="admin || thera" routerLink="/index/therapists">
          <span class="material-icons-sharp">Therapists Index</span>
        </a>
        <a *ngIf="admin || thera" (click)="goToappointment()">
          <span class="material-icons-sharp">Appointment History</span>
        </a>
        <a *ngIf="admin || thera" routerLink="/index/patients">
          <span class="material-icons-sharp">Patient History</span>
        </a>
        <a *ngIf="admin || thera" routerLink="/services">
          <span class="material-icons-sharp">Service Index</span>
        </a>
        <a *ngIf="admin || thera" routerLink="/events">
          <span class="material-icons-sharp">Event Index</span>
        </a>
        <a *ngIf="admin" routerLink="/main_edit">
          <span class="material-icons-sharp">Organization Edit</span>
        </a>
      </div>
    </aside>

    <main class="content">
      <div class="photo-container2">
        <span>User Profile</span>
      </div>

      <div class="photo-container3">
        <button class="btn btn-dark" (click)="show2()">Show Appointment Requests</button>
        <div *ngIf="thera" class="container2">
          <div *ngIf="show_app" class="attraction-container table-container">
            <h2>Incoming Appointments</h2>
            <h4>Filter incoming appointments</h4>
            <input type="text" placeholder="Patient's Name or Number" [(ngModel)]="search1">
            <button (click)="in_search()">Search</button>
            <table *ngIf="new_appointments.length > 0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Service</th>
                  <th>Appointment Type</th>
                  <th>Time</th>
                  <th>Date</th>
                  <th>Confirmation</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of new_appointments">
                  <td>{{ appointment.patient.name }}</td>
                  <td>{{ appointment.patient.contact }}</td>
                  <td>{{ appointment.service.type }}</td>
                  <td>{{ appointment.appointment_type }}</td>
                  <td>{{ appointment.time.time_slot }}</td>
                  <td>{{ appointment.date }}</td>
                  <td><button class="btn btn-dark" (click)="confirm(appointment.id)">Confirm</button></td>
                  <td><button class="btn btn-dark" (click)="cancel(appointment.id)">Cancel</button></td>
                </tr>
              </tbody>
            </table>
            <h2 *ngIf="new_appointments.length == 0">No appointment</h2>
          </div>
        </div>
      </div>

      <div class="photo-container5">
        <button class="btn btn-dark" (click)="show()">Show Confirmed Appointments</button>
        <div *ngIf="thera" class="container2">
          <div *ngIf="show_schedule" class="attraction-container table-container">
            <h2>Confirmed Appointments</h2>
            <h4>Filter confirmed appointments</h4>
            <input type="text" placeholder="Patient's Name or Number" [(ngModel)]="search2">
            <button (click)="con_search()">Search</button>
            <table *ngIf="t_app.length > 0">
              <thead>
                <tr>
                  <th>Patient Name</th>
                  <th>Patient Number</th>
                  <th>Service</th>
                  <th>Appointment Type</th>
                  <th>Time</th>
                  <th>Session Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of t_app">
                  <td>{{ appointment.patient.name }}</td>
                  <td>{{ appointment.patient.contact }}</td>
                  <td>{{ appointment.service.type }}</td>
                  <td>{{ appointment.appointment_type }}</td>
                  <td>{{ appointment.time.time_slot }}</td>
                  <td *ngIf="appointment.done == 1">Complete</td>
                  <td *ngIf="appointment.done == 0"><button class="btn btn-dark" (click)="done(appointment.id)">End</button></td>
                </tr>
              </tbody>
            </table>
            <h2 *ngIf="t_app.length == 0">No confirmed appointments</h2>
          </div>
        </div>
      </div>
    </main>

    <div class="photo-container4">
      
      <img [src]="image" class="pic" alt="">
      <div class="info">
        <div *ngIf="admin">
          <h2 class="welcome-header">Authorized Admin</h2>
        </div>
        <div *ngIf="thera">
          <h2 class="welcome-header">User Type: Therapist</h2>
        </div>
        <h4>User Information</h4>
        <h2>Name: {{ user.name }}</h2>
        <h2>Email: {{ user.email }}</h2>
        <p>{{ user.description }}</p>
        <button routerLink="/change" class="logout-button">Change Profile Information</button>
        <button (click)="logout()" class="logout-button">Logout</button>
      </div>
    </div>
  </div>
</div>

<div class="profile-container" *ngIf="!auth">
  <h2>You're not logged in</h2>
</div>
