<div class="photo-container">
    <div class="container mt-4" >
  
      <div class="card">
            <h1>Therapist Form</h1>
      
      <form>
        <div class="mb-3">
        <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Enter Name">
          </div>
        </div>
        <div class="mb-3">
        <div class="form-group">
            <label>Email</label>
            <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Enter Email">
      </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
                <label>Contact</label>
                <input type="email" [(ngModel)]="contacts[0]" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Enter Contact Number">
          </div>
              </div>
          <div *ngFor="let contact of contacts; let i = index" class="mb-3">
            <div class="form-group">
              <label>Contact {{ i + 2 }}</label>
              <input type="text" [(ngModel)]="contacts[i+1]" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter Contact">
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-4" (click)="therapist_sub()">Submit</button>

        </form>
      </div>
    <div>
  </div>
    
  