<div class="container">
    <div class="photo-container1">
        <nav class="navbar">
            <ul class="navbar-list">
                        <li class="navbar-item"><a [routerLink]="['/profile']">Profile</a></li>
                        <li class="navbar-item"><a [routerLink]="['/gitinfo']">GitHub</a></li>
                        <li class="navbar-item"><a [routerLink]="['/chatbox']">Messages</a></li>
    
                    </ul>
                </nav>
        <p>hi</p>
        <div class="mini-container1">
            <p>bello
                <!-- <img src="/assets/images/happy-woman-standing-writing-notebook.jpg" alt="Random pic" /> -->
            </p>
        </div>
        <div class="mini-container2">
            <p>
                <span class="big-text">Empowering Mental Wellness</span>
                <br>
                <span class="small-text">Unlocking the path to mental well-being with compassion and expertise.</span>
            </p>            
        </div>
    </div>
    <div class="photo-container2">
        <div class="container">
            <div class="left">
                Left content goes here
            </div>
            <div class="right">
                Right content goes here
            </div>
        </div>
    </div>
    <div class="photo-container3">
        <div class="container">
            <div class="partition1">
                <p>Left content goes here          </p>
            </div>
            <div class="partition2">
                <p>Right content goes here</p>
                
            </div>
            <div class="partition3">
                <p>Left content goes here</p>

            </div>
            <div class="partition4">
                <p>Right content goes here</p>

            </div>
        </div>
    </div>
    <div class="photo-container4">
        <img src="/assets/images/full-shot-couple-undergoing-therapy.jpg" alt="Consultation Image">
        <div class="mini-container3">
            <p>
                <span class="big-text">
                    First Consultation With 
                    Dr. Hanna Clooney
                </span>
                <br>
                <span class="small-text">
                    A consultation is the first step towards proper treatment.
                </span>
            </p>            
        </div>
    </div>
    <div class="photo-container5">
        <div class="mini-container4">
            <p>
                <span class="big-text1"><b>Why Dr X?</b></span><br><br>
                <span class="small-text">
                    Finding a therapist you can trust can be challenging, but hopefully, your search ends here with Dr. X. <br><br>

                    Dr. X is a distinguished leader in the field of psychotherapy. Known for her expertise and compassion, she has earned the respect of both her peers and her patients. Dr. X's innovative approaches to mental health care are recognized and celebrated worldwide.<br><br>
                    Dr. X prioritizes a personalized approach to therapy. She believes in the power of individualized care and ensures that each session is tailored to meet the unique needs of her clients. Her dedication to your mental well-being includes consistent, one-on-one sessions and regular follow-ups to monitor progress.<br><br>
                    Dr. X understands that a supportive environment is crucial for effective therapy. Her practice is built on a foundation of empathy and genuine concern, ensuring that you feel heard and valued throughout your therapeutic journey. With Dr. X, you can expect unwavering support and encouragement every step of the way, fostering a healing and nurturing space for your recovery and growth.
                </span>
            </p>
        </div>
        <div class="mini-container5">       
            <div class="mini-container6">       
                <div class="box box1">
                    <img src="/assets/images/heart_5277606.png" alt="Circular Pic 1">
                    <p>Healing Trauma</p>
                </div>
                <div class="box box2">
                    <img src="/assets/images/couple_1688194.png" alt="Circular Pic 1">
                    <p>Improving Relationships</p>
                </div>
            </div>
            <div class="mini-container7">       
                <div class="box box3">
                    <img src="/assets/images/mind_712545.png" alt="Circular Pic 1">
                    <p>Managing Mental Health Conditions</p>
                </div>
                <div class="box box4">
                    <img src="/assets/images/maternity_2716263.png" alt="Circular Pic 1">
                    <p>Enhancing Self-Esteem</p>
                </div>  
            </div>
            <!-- <div class="mini-container8">       
                <div class="box box1">Box 5</div>
                <div class="box box2">Box 6</div>
            </div>
            <div class="mini-container9">       
                <div class="box box3">Box 7</div>
                <div class="box box4">Box 8</div>  
            </div> -->
        </div>
    </div>
    <div class="photo-container6">
        <p>Our Services</p>    
        <div class="mini-container8">   
            <div class="mini-container9">       
                <div class="boxx box1">
              
                </div>
                
            </div>
            <div class="mini-container10">       
                <div class="boxx box3">
                </div>
                
            </div>
            <div class="mini-container11">       
                <div class="boxx box3">
                    
                </div>
            </div>
            <div class="mini-container12">       
                <div class="boxx box3">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="photo-container7"></div>

    <div class="photo-container8">
        <div class="mini-container13">
        </div>
        <div class="mini-container14">       
            <span class="big-text2">Want to Schedule Your First Consultation? </span>
            <span class="small-text1">Booking an appointment with a therapist is a vital step toward mental well-being. Start by researching therapists specializing in your concerns.
                 Contact their offices to schedule a session, considering factors like location, availability, and compatibility. Prepare questions or concerns to discuss during 
                 the appointment.Remember, seeking help is a courageous act towards healing and self-care.</span>

            <button class="button1">Book an Appointment</button>
        </div>
    </div>
    <div class="photo-container9">
        <img src="/assets/images/people-meeting-support-group.jpg" alt="Consultation Image">
        <div class="mini-container15">
            <p>
                <span class="big-text3">
                 Ongoing and Upcoming Events
                </span>
            </p>            
        </div>
    </div>
    
</div>
