<div style="width: 100%; height: 100%; overflow-x: hidden;">
<div class="container">
    <div class="photo-container1">
        <nav class="navbar">
            <ul class="navbar-list">
                        <li class="navbar-item"><a [routerLink]="['/home']">Home</a></li>
                        <li *ngIf="auth" class="navbar-item"><a [routerLink]="['/profile']">Profile</a></li>
                        <li *ngIf="!auth" class="navbar-item"><a [routerLink]="['/login']">Login</a></li>
                        <li  class="navbar-item"><a [routerLink]="['/appointment']">Make an appointment</a></li>
                    </ul>
                </nav>
        <div class="mini-container1">
        
           
        </div>
        <div class="mini-container2">
            <p>
                <span class="big-text">Empowering Mental Wellness</span>
                <br>
                <span class="small-text">Unlocking the path to mental well-being with compassion and expertise.</span>
            </p>            
        </div>
    </div>
    <!-- <div class="photo-container2">
        <div class="container">
            <div class="left">
                Left content goes here
            </div>
            <div class="right">
                Right content goes here
            </div>
        </div>
    </div> -->
    <!-- <div class="photo-container3">
        <div class="container">
            <div class="partition1">
                <p>Left content goes here          </p>
            </div>
            <div class="partition2">
                <p>Right content goes here</p>
                
            </div>
            <div class="partition3">
                <p>Left content goes here</p>

            </div>
            <div class="partition4">
                <p>Right content goes here</p>

            </div>
        </div>
    </div> -->
    <div class="photo-container4">
        <img src="/assets/images/full-shot-couple-undergoing-therapy.jpg" alt="Consultation Image">
        <div class="mini-container3">
            <p>
                <span class="big-text">
                    First Consultation With 
                    Freedom Within
                </span>
                <br>
                <span class="small-text">
                    A consultation is the first step towards proper treatment.
                </span>
            </p>            
        </div>
    </div>
    <div class="photo-container5">
        <div style="margin-top: 5%;" class="mini-container4">
            <p>
                <span class="big-text1"><b>{{home.title}}</b></span><br><br>
                <span  class="small-text">
                    Finding a therapist you can trust can be challenging, but hopefully, your search ends here with Freedon Within <br><br>

                    {{home.description}}
                </span>
            </p>
        </div>
        <div class="mini-container5">       
            <div class="mini-container6">       
                <div class="box box1">
                    <img src="/assets/images/heart_5277606.png" alt="Circular Pic 1">
                    <p>Healing Trauma</p>
                </div>
                <div class="box box2">
                    <img src="/assets/images/couple_1688194.png" alt="Circular Pic 1">
                    <p>Improving Relationships</p>
                </div>
            </div>
            <div class="mini-container7">       
                <div class="box box3">
                    <img src="/assets/images/mind_712545.png" alt="Circular Pic 1">
                    <p>Managing Mental Health Conditions</p>
                </div>
                <div class="box box4">
                    <img src="/assets/images/maternity_2716263.png" alt="Circular Pic 1">
                    <p>Enhancing Self-Esteem</p>
                </div>  
            </div>
        </div>
    </div>
    <div class="photo-container6">
        <p>Our Services</p>
        <div class="mini-container8">
            <div  class="mini-container9">
                <div  class="boxx1 box1">
                    <img src="/assets/images/medium-shot-young-girl-talking-therapist.jpg" alt="Consultation Image">
                    <p style="text-align: right; margin-top: 10%; margin-left: 3%; color: #2d5083;">Individual Counseling</p>
                    <div class="reg">
                        <a [routerLink]="['/services']" style="display: inline; color: rgb(73, 88, 173); text-align: center; font-size: 18px;">Read More ></a>
                    </div>
                </div>
            </div>
            <div class="mini-container10">
                <div class="boxx1 box3">
                    <img src="/assets/images/couple-therapy-marriage-counseling-psychologist-counselor-therapist-relationship-consultant-giving-advice-man-woman-sitting-psychotherapy-session-family-mental-health-concept.jpg" alt="Consultation Image">
                    <p style="text-align: right; margin-top: 10%; margin-left: 3%; color: #2d5083;">Couples Counseling</p>
                    <div class="reg">
                        <a [routerLink]="['/services']" style="display: inline; color: rgb(73, 88, 173); text-align: center; font-size: 18px;">Read More ></a>
                    </div>
                </div>
            </div>
            <div class="mini-container11">
                <div class="boxx1 box3">
                    <img src="/assets/images/parents-kid-doing-therapy.jpg" alt="Consultation Image">
                    <p style="text-align: right; margin-top: 10%; margin-left: 3%; color: #2d5083;">Family Counseling</p>
                    <div class="reg">
                        <a [routerLink]="['/services']" style="display: inline; color: rgb(73, 88, 173); text-align: center; font-size: 18px;">Read More ></a>
                    </div>
                </div>
            </div>
            <div class="mini-container12">
                <div class="boxx1 box3">
                    <img src="/assets/images/people-attending-therapy-meeting.jpg" alt="Consultation Image">
                    <p style="text-align: right; margin-top: 10%; margin-left: 3%; color: #2d5083;">Group Counseling</p>
                    <div class="reg">
                        <a [routerLink]="['/services']" style="display: inline; color: rgb(73, 88, 173); text-align: center; font-size: 18px;">Read More ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="photo-container7"></div>

    <div class="photo-container8">
        <div class="mini-container13">
        </div>
        <div class="mini-container14">       
            <span class="big-text2">Want to Schedule Your First Consultation? </span>
            <span class="small-text1">Booking an appointment with a therapist is a vital step toward mental well-being. Start by researching therapists specializing in your concerns.
                 Contact their offices to schedule a session, considering factors like location, availability, and compatibility. Prepare questions or concerns to discuss during 
                 the appointment.Remember, seeking help is a courageous act towards healing and self-care.</span>

            <button class="button1" [routerLink]="['/appointment']">Book an Appointment</button>
        </div>
    </div>

    <div class="photo-container9">
        <img src="/assets/images/people-meeting-support-group.jpg" alt="Consultation Image">
        <div class="mini-container15">

                <span class="big-text3">
                 Ongoing and Upcoming Events<br>
                </span><br><br><br>
                <div class="reg1">
                    <p>Mental health events promote awareness, education, and support, featuring workshops, panels, and activities. They foster community engagement, reduce stigma, and provide resources for mental well-being, benefiting individuals and families.</p>
                    <a [routerLink]="['/events']" style="display: inline; color: rgb(255, 255, 255); text-align: center; font-size: 35px;">See all our events here ></a>
                </div>
               
        </div>
    </div>

    <div class="photo-container10">
        <div class="mini-container17">       
            <span class="big-text1">Contact Us <br>_________</span><br><br>
            <span class="small-text">Address: {{organization.address}}<br><br>
                Phone: {{organization.contact}}            <br><br>
                Email: freedomwithin247@gmail.com
                <!-- <iframe [src]="organization.maplink" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <br><br></span>

           
        </div>
        <div class="mini-container16">
        </div>
    </div>
    <div class="photo-container11">
        <div class="mini-container22">       
            <span class="big-text4">Our Location</span>
            </div>
            <iframe [src]="mapUrl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- <iframe [src]="organization.maplink" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

    </div>
    <div class="photo-container12">
        <div class="mini-container8">   
            <div class="mini-container18">       
                <div class="boxxx box1">
                    <div>
                    <b>{{organization.name}}</b><br><br>
                </div>
                    <span class="small-text2">We are here to help you</span>
                </div>
            </div>
            <div class="mini-container19">       
                <div class="boxxx box3">
                    <div>
                    <b>Our Services</b><br><br>
                </div>
                    <span class="small-text2">
                        Individual Counseling<br>
                        Group Counseling<br>
                        Family Counseling<br>
                        Couples Counseling
                    </span>
                </div>
            </div>
            <div class="mini-container20">       
                <div class="boxxx box3">
                    <div>
                    <b>Our Time and Contact</b><br><br>
                </div>
                    <span class="small-text2">
                       Sunday-Thursday<br>
                       Time: 10am-8pm<br><br>
                       Address: {{organization.address}}.<br>
                       Phone: {{organization.contact}} 
                    </span>
                </div>
            </div>
            <div class="mini-container21">       
                <div class="boxxx box3">
                    <div>
                    <b>Follow Us On</b><br><br>
                </div>
                    <span class="small-text2">
                    </span>
                    
                </div>
                <!-- <iframe [src]="mapUrl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17371.611131759113!2d90.36003689175185!3d23.749831598541363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf98a52b8b4f%3A0x3a470a7da7563907!2sFreedom%20Within!5e0!3m2!1sen!2sbd!4v1716110345165!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        </div>
        
    </div>

</div>
</div>


<!-- Button trigger modal -->

  

