<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Therapist Index</title>
</head>
<div >
  <nav class="navbar">
    <ul class="navbar-list">
                <li class="navbar-item"><a [routerLink]="['/home']">Home</a></li>
                <li  *ngIf="auth" class="navbar-item"><a [routerLink]="['/profile']">Profile</a></li>
            </ul>
        </nav>
      </div><br><br><br><br>
<body>

  <div style="text-align: center;">
    <h1>Therapist Index</h1>
    <input type="text" placeholder="Search..." [(ngModel)]="searchTerm">
    <button (click)="search()">Search</button>

    <div class="scrollable-container">
      <div class="scrollable-box">
          <div class="faded-box">
              <table border="1">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Admin Access</th>
              <th *ngIf="user.admin_access==1">Action</th>
            </tr>
          </thead>
          <tbody>
    
            <tr *ngFor="let therapist of therapists">
            
              <td>{{ therapist.name }}</td>
              <td>{{ therapist.email }}</td>
              <td><div *ngFor="let contact of therapist.contact">{{contact.contact}}</div></td>
              <td *ngIf="therapist.admin_access==1">Enabled</td>
              <td *ngIf="therapist.admin_access==0">Disabled</td>
              <td *ngIf="user.admin_access==1 && therapist.id !=user.id">
    
                <button *ngIf="therapist.id!=1" (click)="tog_admin(therapist.id)">Toggle Admin</button>
              </td>
            </tr>
          </tbody>
        </table>
          </div>
      </div>
    </div>
  </div>

</body>
</html>






<!-- <tr *ngFor="let therapist of therapists | filter:searchTerm"></tr> -->