<div class="container mt-4" >

    <div class="card">
        <h1>User Registation</h1>
  
  <form>
    <div class="form-group">
      <label>Change Name</label>
      <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="name" placeholder="Enter Name">
      <button>Change Name</button>
  
    </div>
  
    <div class="form-group">
        <label>Change Email</label>
        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="email" placeholder="Enter email">
        <button>Change Email</button>
      </div>
  
      <div class="form-group">
        <label>Change Password</label>
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" placeholder="Enter password">
        <button>Change Password</button>
      </div>
      <!-- <div class="mb-3">
        <div class="form-group">
            <label>Contact</label>
            <input type="email" [(ngModel)]="contacts[0]" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Enter Contact Number">
      </div>
          </div>
      <div *ngFor="let contact of contacts; let i = index" class="mb-3">
        <div class="form-group">
          <label>Contact {{ i + 2 }}</label>
          <input type="text" [(ngModel)]="contacts[i+1]" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter Contact">
        </div>
      </div> -->
      <div class="mb-3">
        <div class="form-group">
          <label>Description</label>
          <textarea type="text" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control"  placeholder="Enter Description"></textarea>
          <button>Change Description</button>
        </div>
        </div>
        

      <!-- <div class="mb-3">
        <label for="formFile" class="form-label">Upload Image</label>
        <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)" accept="image/*">
      </div>
      <button type="submit" class="btn btn-primary mt-4" (click)="register()" >Register</button> -->
      <!--<p *ngIf="message !== null && message !== undefined">{{message.name}} has been registered</p> -->
  </form>
    </div>
  <div>