<div class="container">
    <div >
        <nav class="navbar">
          <ul class="navbar-list">
                      <li class="navbar-item"><a [routerLink]="['/home']">Home</a></li>
                      <li  *ngIf="auth" class="navbar-item"><a [routerLink]="['/profile']">Profile</a></li>
                  </ul>
              </nav>
            </div><br><br>
    <div class="photo-container9">
        <img src="/assets/images/women-white-shirts-spending-time-together.jpg" alt="Consultation Image">
    </div>
    <div class="photo-container10">
        <div class="mini-container18">
            <span class="big-text1">Upcoming Events<br>_________</span><br>
        </div>
        <div class="mini-container17">       
            <!-- <span class="big-text1">Upcoming Events<br>_________</span><br><br> -->
            <span class="small-text" *ngFor="let event of future_events">
                <div class="event-details">
                    <img [src]="event.image.path" alt="Consultation Image">
                    <p><strong>Name:</strong> {{ event.name }}</p>
                    <p><strong>Description:</strong> {{ event.description }}</p>
                    <p><strong>Date:</strong> {{ event.date }}</p>
                    <p><strong>Time:</strong> {{ event.time }}</p>
                </div>
                <br><br>
            </span>

           
    </div>
    <div class="mini-container19">
        <span class="big-text2">Past Events<br>_________</span><br>
    </div>
        <div class="mini-container16">
            <span class="small-text" *ngFor="let event of past_events">
                <div class="event-details">
                    <img [src]="event.image.path" alt="Consultation Image">
                    <p><strong>Name:</strong> {{ event.name }}</p>
                    <p><strong>Description:</strong> {{ event.description }}</p>
                    <p><strong>Date:</strong> {{ event.date }}</p>
                    <p><strong>Time:</strong> {{ event.time }}</p>
                </div>
                <br><br>
            </span>
        </div>
    </div>
   
</div>
