<div >
    <nav class="navbar">
      <ul class="navbar-list">
                  <li class="navbar-item"><a [routerLink]="['/home']">Home</a></li>
                  <li  *ngIf="auth" class="navbar-item"><a [routerLink]="['/profile']">Profile</a></li>
              </ul>
          </nav>
        </div><br><br><br><br>
<div style="text-align: center; justify-content: center;">
    <h1>Select Patient</h1>
    <select [(ngModel)]="patient_id" [ngModelOptions]="{standalone: true}" class="form-control" id="destination">
        <option value="" >Select Patient</option>
        <option *ngFor="let ptn of patients" [value]="ptn.id" (click)="patient_select(ptn.id)">Name: {{ptn.name}}({{ptn.age}}) Contact: {{ptn.contact}}</option>
    </select>
</div>




<div *ngIf="status" class="scrollable-container">
    <div style="text-align: center; justify-content: center;">
        <h3>Name: {{pat.name}}</h3>
        <h3>Age: {{pat.age}}</h3>
        <h3>Gender: {{pat.gender}}</h3>
        <h3>Email: {{pat.email}}</h3>
        <h3>Contact: {{pat.contact}}</h3>
    
    </div>
    <div *ngIf="pat.appointment.length>0" class="scrollable-box">
        <div class="faded-box">
            <table>
                <tr>
                    <th>Therapist</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Service</th>
                    <th>Session Type</th>
                    <th>Session Accepted</th>
                    <th>Session Status</th>
                </tr>
                <tr *ngFor="let appointment of pat.appointment">
                    <td>{{appointment.user.name}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.time.time_slot}}</td>
                    <td>{{appointment.service.type}}</td>
                    <td>{{appointment.appointment_type}}</td>
                    <td *ngIf="appointment.confirmation == 1">Yes</td>
                    <td *ngIf="appointment.confirmation == 0">No</td>
                    <td *ngIf="appointment.done == 1">Completed</td>
                    <td *ngIf="appointment.done == 0">Incomplete</td>
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="pat.appointment.length==0">
        <h2>No Past Record</h2>
    </div>
</div>
