/* Navbar Style */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: inline;
    margin-right: 20px;
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
}

.navbar-item a:hover {
    text-decoration: underline;
}

/* Main Content Style */
.container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

button:hover {
    background-color: #2980b9;
}

/* Table Style */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Scrollable Container Style */
.scrollable-container {
    max-height: 100vh;
    overflow-y: auto;
    margin-top: 20px;
}

/* Faded Box Style */
.faded-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

/* Patient Info Section Style */
.patient-info {
    margin-top: 20px; /* Add space at the top */
  }
  
  .patient-info h3 {
    font-size: 18px; /* Font size for patient details */
    margin-bottom: 10px; /* Add space below each detail */
  }
  
  .patient-info .scrollable-container {
    max-height: 300px; /* Maximum height for scrollable container */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px; /* Add space at the top */
  }
  
  .patient-info .faded-box {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
  }
  
  .patient-info table {
    width: 100%; /* Full width */
    border-collapse: collapse; /* Collapse border spacing */
  }
  
  .patient-info th,
  .patient-info td {
    padding: 8px; /* Add padding */
    border-bottom: 1px solid #ddd; /* Bottom border */
  }
  
  .patient-info tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
  }
  