<div class="container">
<!-- <img src="/assets/images/people-meeting-support-group.jpg" alt="Consultation Image"> -->
<!-- app.component.html -->
<!-- <div *ngFor="let service of services">
    <p>Service ID: {{ service.id }}</p>
  </div> -->
    <div class="photo-container9">
        <img src="/assets/images/handshake-man-woman.jpg" alt="Consultation Image">
    </div>
    <div class="mini-container15">
        <span class="big-text"> Our Services</span>
        </div>
    </div>
    <div class="mini-container8">   
        <div class="mini-container9">       
            <div class="boxx box1">
                <img src="/assets/images/full-shot-patient-psychologist.jpg" alt="Consultation Image">
                <!-- <div *ngFor="let service of services"> -->
                    <p  style="margin-left: 1vw; margin-top: 5px ;">{{ serv1.type }}</p>
                    <span class="small-text"  > {{ serv1.description }}</span>
                <!-- </div> -->
            </div>
            
        </div>
        <div class="mini-container10">       
            <div class="boxx box3">
                <img src="/assets/images/couple-doing-family-therapy.jpg" alt="Consultation Image">
                <p style="margin-left: 1vw;margin-top: 5px ;">{{ serv2.type }}</p>
                <span class="small-text"  > {{ serv2.description }}</span>
            </div>
            
        </div>
        <div class="mini-container11">       
            <div class="boxx box3">
                <img src="/assets/images/close-up-smiley-family-therapist.jpg" alt="Consultation Image">
                <p  style="margin-left: 1vw;margin-top: 5px ;"> {{ serv3.type }}</p>
                <span class="small-text" > {{ serv3.description }}</span>
            </div>
        </div>
        <div class="mini-container12">       
            <div class="boxx box3">
                <img src="/assets/images/medium-shot-people-therapy-sitting.jpg" alt="Consultation Image">
                <p  style="margin-left: 1vw;margin-top: 5px ;" >{{ serv4.type }}</p>
                <span class="small-text"  > {{ serv4.description }}</span>
            </div>
        </div>
</div>