<div class="container">
    <div >
        <nav class="navbar">
          <ul class="navbar-list">
                      <li class="navbar-item"><a [routerLink]="['/home']">Home</a></li>
                      <li  *ngIf="auth" class="navbar-item"><a [routerLink]="['/profile']">Profile</a></li>
                  </ul>
              </nav>
            </div><br><br>

    <div class="photo-container9">
        <img src="/assets/images/handshake-man-woman.jpg" alt="Consultation Image">
    </div>
    <div class="mini-container15">
        <span class="big-text">Our Services</span>
    </div>
</div>
<div class="mini-container8">
    <div *ngFor="let service of services" class="boxx">
        <img [src]="service.image.path" alt="Consultation Image">
        <div class="content">
            <p>{{ service.type }}</p>
            <span class="small-text">{{ service.description }}</span>
        </div>
    </div>
    <!-- <div class="boxx">
        <img src="/assets/images/couple-doing-family-therapy.jpg" alt="Consultation Image">
        <div class="content">
            <p>{{ serv2.type }}</p>
            <span class="small-text">{{ serv2.description }}</span>
        </div>
    </div>
    <div class="boxx">
        <img src="/assets/images/close-up-smiley-family-therapist.jpg" alt="Consultation Image">
        <div class="content">
            <p>{{ serv3.type }}</p>
            <span class="small-text">{{ serv3.description }}</span>
        </div>
    </div>
    <div class="boxx">
        <img src="/assets/images/medium-shot-people-therapy-sitting.jpg" alt="Consultation Image">
        <div class="content">
            <p>{{ serv4.type }}</p>
            <span class="small-text">{{ serv4.description }}</span>
        </div>
    </div> -->
</div>
